# Environment variables
**/.env
**/.env.local
**/.env.*.local
!.env.example
python/.env
# Dependencies
node_modules/
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
out/
.next/
.cache/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


venv/
.env/
.venv/
Lib/
Scripts/
Include/

# Python cache
__pycache__/
*.pyc

# ML / torch large files
*.dll
*.pt
*.pth


# Node
node_modules/
dist/
build/

# Python
venv/
__pycache__/
*.pyc
.env

# Logs / OS
*.log
.DS_Store
Thumbs.db
